*.o
api/classes.zip
api/classes/
api/tmpclasses/
build.sh
kvm/VmUnix/build/kvm
tools/jcc/ROMjavaUnix.c
tools/jcc/classes.zip
tools/jcc/classes/
tools/jcc/classesUnix.zip
tools/jcc/nativeFunctionTableUnix.c
tools/preverifier/build/linux/preverify
.idea
cmake-build-debug
CMakeLists.txt
.filelist
HelloWorld.java
HelloWorld.class
compile.sh
